[Unit]
Description=restful_xpack
#Documentation=https://example.com
After=network.target

[Service]
#Environment=PORT=9092
Type=simple
User=root
ExecStart=/bin/node /home/restful_node_sso/app.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
